[submodule "dailycould"]
	path = dailycould
	url = git@github.com:taylormonacelli/dailycould.git
[submodule "allnew"]
	path = allnew
	url = git@github.com:taylormonacelli/allnew.git
[submodule "bluesorrow"]
	path = bluesorrow
	url = git@github.com:taylormonacelli/bluesorrow
[submodule "itsvermont"]
	path = itsvermont
	url = git@github.com:taylormonacelli/itsvermont
[submodule "awaybeen"]
	path = awaybeen
	url = git@github.com:taylormonacelli/awaybeen.git
[submodule "downmust"]
	path = downmust
	url = git@github.com:taylormonacelli/downmust.git
[submodule "allshire"]
	path = allshire
	url = git@github.com:taylormonacelli/allshire
[submodule "justplay"]
	path = justplay
	url = git@github.com:gkwa/justplay.git
[submodule "fewidentity"]
	path = fewidentity
	url = git@github.com:gkwa/fewidentity.git
