{% extends 'go/goreleaser/goreleaser.yaml.j2' %}
{% block main_go %}main.go{% endblock %}
{% block bxxarg -%}
{% raw %}github.com/{{ cookiecutter.github_username }}/{{ cookiecutter.project_slug }}/version{% endraw %}
{%- endblock %}
