before:
  hooks:
  - go mod tidy
  - go generate ./...
builds:
- env:
  - CGO_ENABLED=0
  goos:
  - linux
  - windows
  - darwin
  main: {% block main_go %}main.go{% endblock %}
  goarch:
  - amd64
  binary: {% raw %}{{ cookiecutter.project_slug }}{% endraw %}
  id: {% raw %}{{ cookiecutter.project_slug }}{% endraw %}
  ldflags:
  - -s -w
    {% raw %}-X "github.com/{{ cookiecutter.github_username }}/{{ cookiecutter.project_slug }}/version.Version={{ "{{" }} .Version {{ "}}" }}"{% endraw %}
    {% raw %}-X "github.com/{{ cookiecutter.github_username }}/{{ cookiecutter.project_slug }}/version.Date={{ "{{" }} .CommitDate {{ "}}" }}"{% endraw %}
    {% raw %}-X "github.com/{{ cookiecutter.github_username }}/{{ cookiecutter.project_slug }}/version.GoVersion={{ "{{" }} .Env.GOVERSION {{ "}}" }}"{% endraw %}
    {% raw %}-X "github.com/{{ cookiecutter.github_username }}/{{ cookiecutter.project_slug }}/version.ShortGitSHA={{ "{{" }} .ShortCommit {{ "}}" }}"{% endraw %}
    {% raw %}-X "github.com/{{ cookiecutter.github_username }}/{{ cookiecutter.project_slug }}/version.FullGitSHA={{ "{{" }} .FullCommit {{ "}}" }}"{% endraw %}
archives:
- format: tar.gz
  name_template: |-
    {% raw %}{{ cookiecutter.project_slug }}{% endraw %}_ {{ "{%" }} raw {{ "%}" }}{% raw %}{{- title .Os }}_ {{- if eq .Arch "amd64" }}x86_64
                               {{- else if eq .Arch "386" }}i386
                               {{- else }}
                               {{ .Arch }}
                               {{ end }}
                               {{- if .Arm }}v{{ .Arm }}{{ end }}{% endraw %}{{ "{%" }} endraw {{ "%}" }}
  format_overrides:
  - goos: windows
    format: zip
checksum:
  name_template: checksums.txt
{{ "{%" }} raw {{ "-%}" }}
{% raw -%}
snapshot:
  name_template: '{{ incpatch .Version }}-next'
{% endraw -%}
{{ "{%-" }} endraw {{ "%}" }}
changelog:
  sort: asc
  filters:
    exclude:
    - '^docs:'
    - '^test:'
{% raw -%}
brews:
- name: {{ cookiecutter.project_slug }}
  directory: Formula
  homepage: https://github.com/{{ cookiecutter.github_username }}/homebrew-tools
  repository:
    owner: {{ cookiecutter.github_username }}
    name: homebrew-tools
    branch: main
{%- endraw %}
{% raw -%}
scoops:
 - name: {{ cookiecutter.project_slug }}
   homepage: https://github.com/{{ cookiecutter.github_username }}/{{ cookiecutter.project_slug }}
   description: "Description of the {{ cookiecutter.project_slug }} project"
   license: MIT
   repository:
     owner: {{ cookiecutter.github_username }}
     name: scoop-bucket
     branch: main
{%- endraw %}
