# {{ "{{" }} cookiecutter.project_slug {{ "}}" }}

Purpose:


## example usage

```bash


```

## install {{ "{{" }} cookiecutter.project_slug {{ "}}" }}


on macos/linux:
```bash

{% raw %}
brew install {{ cookiecutter.github_username }}/homebrew-tools/{{ cookiecutter.project_slug }}
{% endraw %}

```


on windows:

```powershell

TBD

```
