# {% raw %}{{ cookiecutter.project_slug }}{% endraw %}

Purpose:


## example usage

```bash


```

## install {% raw %}{{ cookiecutter.project_slug }}{% endraw %}


on macos/linux:
```bash

brew install {% raw %}{{ cookiecutter.github_username }}/homebrew-tools/{{ cookiecutter.project_slug }}{% endraw %}

```


on windows:

```powershell

TBD

```
